@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

.skill {
  padding: 0.50rem 1.25rem;
  border: 1px solid;
  border-radius: 2rem;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

main > section {
  opacity: 0.3;
}

main > section.active {
  opacity: 1;
}

.heading {
  position: relative;
  text-shadow:0 4px 4px rgb(0, 0, 0, 0.25);
  display: inline-block;
}

.heading::before {
  content: '';
  background-color: rgb(56 189 248);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 105%;
  height: 8px;
  z-index: -1;
}

a.link {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0 2px;
}

.squiggle-divider {
  width: 100%;
  background: repeat-x;
  margin: 6rem 0;
  height: 20px;
  border-top-width: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='505' height='11' viewBox='0 0 505 11' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M0 1C0.629405 1 2.20292 1.13158 3.46173 1.65792C4.72054 2.18425 6.71365 4.94749 7.55286 6.26332C8.39207 7.57915 10.574 10.167 12.5881 9.99151C15.1057 9.77221 17.3086 7.79846 19.1969 5.60541C21.0851 3.41236 22.3439 1 25.1762 1C27.4421 1 30.9457 4.50888 32.4144 6.26332C33.2536 7.50605 35.4355 9.99151 37.4496 9.99151C39.9672 9.99151 41.8554 7.79846 43.1142 6.26332C44.3731 4.72819 45.9466 1 49.723 1C52.7441 1 55.5974 4.50888 56.6465 6.26332C57.6955 7.50605 60.2341 9.99151 61.9964 9.99151C64.1993 9.99151 67.0316 7.79846 67.9757 6.26332C68.9199 4.72819 70.8081 1 74.5845 1C77.6056 1 80.4589 4.50888 81.508 6.26332C82.4521 7.50605 84.8438 9.99151 86.8579 9.99151C89.3755 9.99151 92.5225 6.92124 92.8372 6.26332C93.1519 5.60541 95.3549 1 99.446 1H101.461C102.09 1 103.663 1.13158 104.922 1.65792C106.181 2.18425 108.174 4.94749 109.013 6.26332C109.853 7.57915 112.035 10.167 114.049 9.99151C116.566 9.77221 118.769 7.79846 120.657 5.60541C122.546 3.41236 123.804 1 126.637 1C128.903 1 132.406 4.50888 133.875 6.26332C134.714 7.50605 136.896 9.99151 138.91 9.99151C141.428 9.99151 143.316 7.79846 144.575 6.26332C145.834 4.72819 147.407 1 151.184 1C154.205 1 157.058 4.50888 158.107 6.26332C159.156 7.50605 161.695 9.99151 163.457 9.99151C165.66 9.99151 168.492 7.79846 169.436 6.26332C170.38 4.72819 172.269 1 176.045 1C179.066 1 181.919 4.50888 182.969 6.26332C183.913 7.50605 186.304 9.99151 188.318 9.99151C190.836 9.99151 193.983 6.92124 194.298 6.26332C194.612 5.60541 196.815 1 200.907 1H202.921C203.55 1 205.124 1.13158 206.383 1.65792C207.642 2.18425 209.635 4.94749 210.474 6.26332C211.313 7.57915 213.495 10.167 215.509 9.99151C218.027 9.77221 220.23 7.79846 222.118 5.60541C224.006 3.41236 225.265 1 228.097 1C230.363 1 233.867 4.50888 235.335 6.26332C236.175 7.50605 238.357 9.99151 240.371 9.99151C242.888 9.99151 244.777 7.79846 246.035 6.26332C247.294 4.72819 248.868 1 252.644 1C255.665 1 258.519 4.50888 259.568 6.26332C260.617 7.50605 263.155 9.99151 264.917 9.99151C267.12 9.99151 269.953 7.79846 270.897 6.26332C271.841 4.72819 273.729 1 277.506 1C280.527 1 283.38 4.50888 284.429 6.26332C285.373 7.50605 287.765 9.99151 289.779 9.99151C292.297 9.99151 295.444 6.92124 295.758 6.26332C296.073 5.60541 298.276 1 302.367 1H304.382C305.011 1 306.585 1.13158 307.843 1.65792C309.102 2.18425 311.095 4.94749 311.934 6.26332C312.774 7.57915 314.956 10.167 316.97 9.99151C319.487 9.77221 321.69 7.79846 323.578 5.60541C325.467 3.41236 326.726 1 329.558 1C331.824 1 335.327 4.50888 336.796 6.26332C337.635 7.50605 339.817 9.99151 341.831 9.99151C344.349 9.99151 346.237 7.79846 347.496 6.26332C348.755 4.72819 350.328 1 354.105 1C357.126 1 359.979 4.50888 361.028 6.26332C362.077 7.50605 364.616 9.99151 366.378 9.99151C368.581 9.99151 371.413 7.79846 372.357 6.26332C373.301 4.72819 375.19 1 378.966 1C381.987 1 384.841 4.50888 385.89 6.26332C386.834 7.50605 389.225 9.99151 391.24 9.99151C393.757 9.99151 396.904 6.92124 397.219 6.26332C397.534 5.60541 399.736 1 403.828 1H405.401M403.98 1C404.61 1 406.183 1.13158 407.442 1.65792C408.701 2.18425 410.694 4.94749 411.533 6.26332C412.373 7.57915 414.555 10.167 416.569 9.99151C419.086 9.77221 421.289 7.79846 423.177 5.60541C425.066 3.41236 426.324 1 429.157 1C431.423 1 434.926 4.50888 436.395 6.26332C437.234 7.50605 439.416 9.99151 441.43 9.99151C443.948 9.99151 445.836 7.79846 447.095 6.26332C448.354 4.72819 449.927 1 453.703 1C456.725 1 459.578 4.50888 460.627 6.26332C461.676 7.50605 464.215 9.99151 465.977 9.99151C468.18 9.99151 471.012 7.79846 471.956 6.26332C472.9 4.72819 474.789 1 478.565 1C481.586 1 484.439 4.50888 485.488 6.26332C486.433 7.50605 488.824 9.99151 490.838 9.99151C493.356 9.99151 496.503 6.92124 496.818 6.26332C497.132 5.60541 499.335 1 503.427 1H505' stroke='%23F5F5F5' stroke-opacity='0.36' stroke-width='2' /%3E%3C/svg%3E");
}

a.link::before {
  content: '';
  background-color:rgb(56 189 248);
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a.link:hover::before {
  bottom: -3px;
  height: 100%;
}

.list-item a:hover {
  color: rgb(56 189 248);
}

.nav-items {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  position: relative;
}

@media (min-width: 1220px) {
  .active.nav-items {
    font-weight: 700;
    font-size: 1.55rem;
  }

  .nav-items a::before {
    content: '';
    height: 1px;
    background-color: #fff;
    width: 0;
    position: absolute;
    left: -120%;
    top: calc(100% / 2);
    transition: all .3s ease-in-out;
  }

  .active.nav-items a {
    position: relative;
    text-shadow:0 4px 4px rgb(0, 0, 0, 0.25);
  }

  /* .active.nav-items a::after {
    content: '';
    background-color: rgb(56 189 248);
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
  } */

  .active.nav-items a::before {
    content: '';
    width: 100%;
  }
}


