@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

.skill {
  padding: 0.50rem 1.25rem;
  border: 1px solid;
  border-radius: 2rem;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

a{
  color: rgb(56 189 248);
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

a:hover {
  color: rgb(8 47 73);
}

.list-item a:hover {
  color: rgb(56 189 248);
}
